/*

 */

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

header {
  margin: 3rem;
  text-align: center;

  h1 {
    line-height: 6rem;
  }
}


main {
  padding: 0 1rem;

  .main___head {
    text-align: center;
    margin-bottom: 5rem;

    img {
      width: 18rem;
    }
  }

  .main__option {
    //margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    max-width: 350px;
    margin: 0 auto;

    .option {
      background-color: green;
      border-radius: 2rem;
      padding: 2rem;
      text-align: center;
      cursor: pointer;
      img {
        width: 5rem;
      }

      h3 {
        font-size: 2rem;
      }
    }

  }
}

nav {
  background-color: green;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .nav_btn {
    text-align: center;
    cursor: pointer;

    img {
      padding: 1rem;
      border-radius: 40%;
      background-color: cadetblue;
      width: 6rem;
    }
  }
}

/*
Card
 */
.card {
  background-color: #86a489;
  border-radius: 3rem 3rem 0 0;
  position: fixed;
  z-index: 999;
  bottom: -120%;
  left: 0;
  width: 100%;
  height: 60vh;
  transition: all 0.6s;
  padding: 2rem;

  img {
    cursor: pointer;
    width: 3rem;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
}

.card.active {
  bottom: 0;
}

form {
  display:flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  top: 4rem;
}

.input {
  width: 80%;
  margin: 1rem;
  line-height: 4rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  /*
  TODO
  font-family:
   */

}

.btn {
  width: 80%;
  padding: 1rem;
  margin-top: 2rem;
  background-color: black;
  color: #fff;
}

fieldset {
  width: 80%;
  text-align: center;
  border: none;
}

.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 3px;
  transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
  background: #B54A4A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

fieldset {
  margin: 2rem;
}




