@use "variable";

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 2rem;
  max-width: 100%;
  background: variable.$frame_background_color_light;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-family: variable.$title_font;
}

p {
  font-family: variable.$text_font;
}

/*
HEADER STYLES
 */

header {
  margin: 2rem;
  border-radius: 2.5rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  color: #fff;
  font-size: 4rem;
  background: -moz-linear-gradient(top, variable.$frame_background_color_dark, variable.$number_color);
  background: -webkit-linear-gradient(top, variable.$frame_background_color_dark, variable.$number_color);
  background: linear-gradient(to bottom, variable.$frame_background_color_dark, variable.$number_color);
  box-shadow: 1rem 1rem 1.5rem -1rem #1f1e1e;
}

/*
BODY HEADER STYLES
 */
.body_header {
  text-align: center;
  margin: 8rem 0;

  img {
    width: 30rem;
    margin: 3rem;
  }

  h2 {
    font-size: 7rem;
    color: variable.$title_color;
  }

  p {
    font-size: 5rem;
    color: variable.$title_color;
  }
}

/*
BODY MAIN
 */
main {
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  .card { //responsive
    background-color: variable.$back_ground_color;
    padding: 5rem;
    border-radius: 3rem;
    text-align: center;
    cursor: pointer;

    img {
      width: 10rem;
      margin: 2rem;

    }

    h3 {
      color: variable.$title_color;
      font-size: 2.8rem;
    }
  }
}

/*
Slide ITEM (initial setting: HIDDEN)
 */
.slide_container {
  //position: absolute;
  top: 24rem;
  left: 4rem;
  background-color: pink;
  width: 130%;
  height: 80%;
  border-radius: 30px 0 0 30px;
  padding: 10rem;
  img {
    width:5rem;
    position: absolute;
    //top: 10rem;
  }
}


footer {
  background: linear-gradient(to bottom, variable.$number_color, variable.$frame_background_color_dark);

  ul {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    li {
      display: inline-block;
      width: 20%;
      line-height: 15rem;
      color: #fff;
      font-size: 5rem;
      text-align: center;
      background-color: variable.$frame_background_color_light;
      border-radius: 50%;

      p {
        vertical-align: middle;
        color: black;
      }
    }
  }
}

////////////////////////////////////
//"resister_container card"
////////////////////////////////////
//display: none;/*はじめは非表示*/

.hidden_item {
  //display: none;
}

@keyframes SlideIN {
  0% {
    opacity: 0;
    transform: translateX(3000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}