/*
Medea Query
▼共通デザイン（モバイル向け）
▼中型画面向けデザイン（タブレットなど）
▼大型画面向けデザイン（PCなど）
*/
$mediaSize_SP: "min-width:768px";
$mediaSize_PC: "min-width:1024px";


/*
Font
*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=League+Gothic&family=Montserrat:wght@100&family=Rajdhani:wght@400;500;700&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Barlow:wght@300&family=League+Gothic&family=Montserrat:wght@100&family=Rajdhani:wght@400;500;700&family=Staatliches&display=swap');

$title_font: 'Staatliches', cursive;
$text_font: 'Barlow', sans-serif;


/*
color
*/
$back_ground_color: #fff;
$number_color: #07945e;
$title_color: #01473E;
$text_font_color: #232222;
$frame_background_color_dark: #01473E;
$frame_background_color_light: #CCE5E2;




